@import "./basisLayout.css";
.seat-container {
    width: 1370px;
    height: auto;
    background-color: #fff;
    margin: 0 auto;
}

.ticket-content {
    width: 100%;
    height: auto;
}

.seat-map {
    display: grid;
    background-color: #000000;
    grid-template-columns: repeat(24, 57px);
    grid-template-rows: repeat(14, 27px);
    justify-content: center;
}

.locate-screen {
    grid-column-start: 1;
    grid-column-end: 25;
    grid-row-start: 1;
    grid-row-end: 2;
    color: #ffffff;
    text-align: center;
}

.locate-left {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 15;
    display: flex;
    flex-wrap: wrap;
}

.locate-middle {
    grid-column-start: 8;
    grid-column-end: 19;
    grid-row-start: 2;
    grid-row-end: 15;
}

.locate-right {
    grid-column-start: 21;
    grid-column-end: 25;
    grid-row-start: 2;
    grid-row-end: 15;
}

.locate-left,
.locate-middle,
.locate-right {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
}

.locate-space {
    margin-top: 27px;
}

label {
    padding: 0;
    cursor: pointer;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]+span {
    width: 55px;
    height: 25px;
    font-size: 0.9em;
    display: flex;
    background-color: #ffffff;
    border-radius: 4px;
    color: #000000;
    user-select: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 1px;
}

input[type=checkbox]:checked+span {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFC106;
    transition-delay: 5ms;
}

.form-button {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-button input {
    width: 100px;
    height: 35px;
    border: none;
    outline: none;
    background-color: #e4171a;
    color: #fff;
    cursor: pointer;
}

